@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

html,
body {
    overflow: hidden;
    background-color: rgba(40, 40, 40, 1.0);
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 17%;
}

.navbar-item {
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.navbar-item:hover {
    color: yellow;
    transition: opacity 0.3s ease;
}

.tooltip-container,
.tooltip-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.tooltip-container {
    position: absolute;
    top: 20px;
    left: 5px;
    pointer-events: none;
    border: 2px solid white;
}

.tooltip-content {
    width: 320px;
}

#planet-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.planet-info {
    font-size: 16px;
    margin-bottom: 3px;
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    font-size: large;
    padding: 20px;
}

#rectangle {
    margin-top: 15%;
    width: 320px;
    height: 250px;
    border: 1.5px solid white;
}

#planet-image {
    width: 60%;
    margin-top: 9%;
}

#planet-distance {
    margin-top: 25%;
}

#planet-size {
    margin-top: 10%;
}

#planet-speed {
    margin-top: 10%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.interactive-panel {
    position: fixed;
    top: 30px;
    right: 40px;
    border: 1px solid #ccc;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    color: white;
    border-radius: 20px;
}

.interactive-panel>div {
    width: 100%;
}

.minimized {
    height: 14.30px;
    overflow: hidden;
}

#arrow-icon {
    cursor: pointer;
    transform: translateX(140px); 
}

h2 {
    color: white;
    font-size: 18px;
    flex: 1;
    flex-direction: row;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    padding: 8px;
    background-color: #2234A8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

.button:hover {
    background-color: #00008C;
}

#stop-button, #reset-button {
    flex: 1;
}

label {
    color: white;
    display: block;
}

.slider-container {
    display: flex;
    align-items: center;
}

input[type="range"] {
    flex: 1;
    cursor: pointer;
}

span {
    color: white;
    font-size: larger;
    transform: translateX(15px); 
}

.toggle-container,
.checkbox-container {
    display: flex;
}

.toggle-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 34px;
}

.toggle-container input {
    display: none;
}

.switch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-container input:checked+.switch:before {
    left: 7px;
}

.toggle-container input:checked+.switch {
    background-color: #2234A8;
}

.toggle-container input:checked+.switch:before {
    transform: translateX(26px);
}

.toggle-text {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    font-size: 14px;
    transition: opacity 0.3s;
    pointer-events: none;
    font-weight: bolder;
}

.toggle-text-on {
    left: 20%;
    color: #fff;
    opacity: 1;
}

.toggle-text-off {
    left: 50%;
    color: black;
    opacity: 0;
}

.toggle-container input:checked+.switch~.toggle-text-on,
.toggle-container input:not(:checked)+.switch~.toggle-text-off {
    opacity: 1;
}

.checkbox-container {

    display: flex;
    flex-direction: column;
}

.checkbox-container label {
    color: white;
    font-size: 124%;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#heading-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#heading {
    color: white;
    font-family: 'Questrial', sans-serif;
}

.dropdown {
    position: relative;
    width: 100%;
}


.dropdown-label {
    display: block;
    font-size: larger;
}

.dropbtn {
    width: 100%;
    padding: 8px 16px;
    background-color: #2234A8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #00008C;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: row;
    background-color: #f9f9f9;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    font-weight: bolder;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a.selected {
    position: relative;
}

.dropdown-content a.selected::after {
    content: "\f00c";
    /* Unicode for tick icon */
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1;
}

a[value="option1"] {
    font-weight: bold;
}